*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: rgba(0, 0, 0, 1);
    background-color: rgb(211, 206, 246);
    background-image: url(img/wallpaperflare.com_wallpaper.jpg);
}

header{
    margin: 5px;
    padding: 9px;
    border: 2px solid rgb(224, 224, 224,0.5);
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.23); /* Fondo blanco con 70% de opacidad */
    backdrop-filter: blur(3px); /* Aplica un desenfoque de 8px al fondo */
    padding: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.377);
    position: relative;
    z-index: 1;
}

.presentacion {
    display: flex;
    margin: auto;
    padding: 5px;
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.5);
}

.presentacion p{
    font-size: 30px;
    color: rgb(206, 223, 244);
}

.filter{
    border: 2px solid black;
    display: flex;
    left: 100%;
    padding: 2px;
    margin: 5px;
    padding: 9px;
    border: 2px solid rgb(224, 224, 224,0.2);
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0); /* Fondo blanco con 70% de opacidad */
    backdrop-filter: blur(3px); /* Aplica un desenfoque de 8px al fondo */
    padding: 20px;
    color: rgba(49, 69, 93, 0.7);
    
}

.filter:hover{
    border: 2px solid rgb(224, 224, 224,0.9);
    background-color: rgba(255, 255, 255, 0.1);
}

.filter:hover{
    cursor: pointer;

}

.filter p{
    margin-right: 9px;
}

.filter i{
    margin-top: 3px;
    margin-right: 5px;
}

.intBox{
    position: relative;
    margin: auto;
    border: 2px solid rgb(224, 224, 224,0.5);
    background-color: rgba(255, 255, 255, 0.23);
    backdrop-filter: blur(3px);
    width: 95%;
    height: 500px;
    z-index: 1;
    border-radius: 5px;
    border: 1px solid rgb(224, 224, 224,0.5);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.377);
}

.list{
    height: 75vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.wellcome{
    background-color: rgba(181, 215, 245, 0.592);
    padding: 15px;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

ul li{
    display: flex;
    flex: 1;
    border: 2px solid black;
    padding: 20px;
    border-radius: 5px;
    margin: 5px;
    border: 1px solid rgb(224, 224, 224,0.7);
    cursor: pointer;
    transition: background-color 0.9s ease;
}

li:hover{
    background-color: rgba(240, 248, 255, 0.511);
}

li:focus{
    border-color: #4CAF50; /* Cambia el color del borde al recibir el foco */
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

.black {
    position: absolute; /* Absoluto para cubrir toda la pantalla */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000; /* Color de fondo negro */
    opacity: 0.15;
}

